name: CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]
  workflow_dispatch:

permissions:
  contents: read
  security-events: write
  actions: write

jobs:
  sast:
    name: SAST
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt

    - name: Run Bandit
      run: |
        bandit -r src/ -f json -o report-sast-bandit.json
      continue-on-error: true # Should be false, but upstream bandit hasn't merged the PR for Python 3.14 yet.

    - name: Dependency vulnerability scan
      run: |
        pip-audit --desc --format json --output report-sast-deps.json
      continue-on-error: true

    - name: Upload SAST reports
      uses: actions/upload-artifact@v5
      if: always()
      with:
        name: sast-reports
        path: |
          ./report-sast-bandit.json
          ./report-sast-deps.json
        retention-days: 30

  code_quality:
    name: Code quality
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt

    - name: Run Flake8
      run: |
        flake8 src/ --count --statistics --output-file=report-code-quality-lint.txt

    - name: Upload code quality reports
      uses: actions/upload-artifact@v5
      if: always()
      with:
        name: code-quality-reports
        path: |
          ./report-code-quality-lint.txt
        retention-days: 30

  tests:
    name: Unit tests / Coverage
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.14', '3.13', '3.12']

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt

    - name: Install package
      run: |
        pip install -e .

    - name: Run unit tests with pytest
      run: |
        pytest tests/ -v --cov=src --cov-report=xml

    - name: Upload coverage report
      uses: actions/upload-artifact@v5
      if: always()
      with:
        name: coverage-report-${{ matrix.python-version }}
        path: ./coverage.xml
        retention-days: 30